# Ignore local user configs
user/config.toml

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment directories
.venv/
.vscode/

# Ignore SQLite database files
*.sqlite

# Coverage files
.coverage
tests/htmlcov/
coverage.xml

# Report files
reports/*.txt
